<div class="<%= web_template.type.parameterize %> card flip-container l-cell">
  <div class="flipper">

    <div class="card-container front">

      <div class="card-head">
        <h3><%= web_template.name %></h3>
      </div>

      <div class="card-body">
        <ul class="widgets widgets--large">
          <%= render web_template.widgets %>
        </ul>
        <div class="buttons">
          <%= link_to "Edit", send("edit_website_#{web_template.type.underscore}_path", website, web_template), class: "btn btn--small" %>
          <% if web_template.web_home_template? %>
            <%= link_to "Ember Edit", "/ember/#/location/#{web_template.location_id}/home/#{web_template.id}",  class: "btn" %>
          <% else %>
            <%= link_to "Ember Edit", "/ember/#/location/#{web_template.location_id}/page/#{web_template.id}",  class: "btn" %>
          <% end %>
          <%= link_to "Preview", send("website_#{web_template.type.underscore}_path", website, web_template), class: "btn btn--small" %>
        </div>

        <a href="#" title="Page Settings" class="card-corner flip-btn"><span class="icon icon--settings">Page Settings</span></a>
      </div>
    </div> <!-- end .back -->

    <div class="card-container back">

      <div class="card-head">
        <h3><%= web_template.name %></h3>
      </div>

      <div class="card-body">

        <form class="form">

          <div class="form-field">
            <label>Page Name</label>
            <input type="text" />
          </div>

          <div class="form-field">
            <label>Page Title</label>
            <input type="text" />
          </div>

          <div class="form-field">
            <%= render partial: "web_template_toggle_disabled", locals: { website: website, web_template: web_template } %>
          </div>

          <div class="buttons">
            <%= link_to "Save", "#", class: "btn btn--small" %>
            <%= link_to "Cancel", "#", class: "btn btn--a btn--small flip-btn" %>
          </div>
        </form>

        <a href="#" title="Page Settings" class="card-corner flip-btn"><span class="icon icon--cancel">Page Settings</span></a>

      </div>
    </div> <!-- end .back -->

  </div> <!-- end .flipper -->
</div> <!-- end .flip-container -->
