<div class="<%= web_template.type.parameterize %>">
  <div class="l-cell">
    <%= image_tag_or_placeholder(web_template.web_layout.try(:thumbnail), class: 'thumb', style: 'width: 250px') %>
  </div>

  <div class="l-cell">
    <%= image_tag_or_placeholder(web_template.web_theme.try(:thumbnail), class: 'thumb') %>
  </div>

  <div class="l-cell">
    <h3 class="template-heading">Widgets</h3>
    <ul class="widgets">
      <%= render web_template.widgets %>
    </ul>
  </div>

  <div class="l-cell buttons">
    <h3 class="template-heading">Actions</h3>
    <%= link_to "Edit", send("edit_website_#{web_template.type.underscore}_path", website, web_template), class: "btn" %>
    <%= link_to "Ember Edit", "/ember/#/website_template/#{web_template.id}",  class: "btn" %>
    <br/>
    <br/>
    <%= link_to "Deploy", deploy_website_path(website), method: :post, class: "btn" %>
  </div>

</div>
