<%= f.fields_for :widgets, widget do |ff| -%>
  <%= ff.error_messages %>
  <%= ff.hidden_field :_destroy, value: 1 %>
  <%= ff.hidden_field :id %>
  <li class="<%= "widget" unless widget.new_record? %> <%= widget.name.parameterize %>" data-id="<%= widget.id %>">
    <%= ff.hidden_field :id, class: "resource-id" %>
    <%= ff.hidden_field :position, class: "position" %>
    <%= ff.hidden_field :section, class: "section" %>
    <%= ff.hidden_field :_destroy, value: false %>

    <%= ff.hidden_field :url %>
    <%= image_tag_or_placeholder(widget.thumbnail) %>
    <%= widget.name %>
  </li>
<% end -%>
