<%= f.fields_for :widgets, widget.dup do |ff| -%>
  <%= ff.error_messages %>
  <li>
    <%= ff.hidden_field :position, class: 'position' %>
    <%= ff.hidden_field :section, class: 'section' %>
    <%= ff.hidden_field :url %>
    <%= image_tag_or_placeholder(widget.thumbnail) %>
    <%= widget.name %>
  </li>
<% end -%>
