<div class="row">
  <%= form_for [@location, @page] do |f| %>
    <%= f.error_messages %>
    <div class="span12">
      <% if @page.is_a? SiteTemplate %>
        <h3>Layout</h3>
        <p>
          <%= f.fields_for :layout, @page.layout || PageLayout.new do |ff| -%>
            <%= ff.error_messages %>
            <!-- <%= ff.label :url, "Layout" %> -->
            <%= ff.collection_select :url, PageLayout.all_remote, :url, :name, include_blank: "Select Layout" %>
          <% end %>
        </p>

        <!-- <div class="row thumbs">
          <div class="span2 thumb">
            <input type="radio" />
            <label><img src="http://placehold.it/50x50" /> Single Column</label>
          </div>
          <div class="span2 thumb">
            <input type="radio" />
            <label><img src="http://placehold.it/50x50" /> Sidebar Left</label>
          </div>
          <div class="span2 thumb">
            <input type="radio" />
            <label><img src="http://placehold.it/50x50" /> Sidebar Right</label>
          </div>
        </div> -->

        <h3>Theme</h3>
        <p>
          <%= f.fields_for :theme, @page.theme || Theme.new do |ff| -%>
            <%= ff.error_messages %>
            <!-- <%= f.label :url, "Theme" %> -->
            <%= ff.collection_select :url, Theme.all_remote, :url, :name, include_blank: "Select Theme" %>
          <% end %>
        </p>

        <!-- <div class="row thumbs">
          <div class="span2 thumb">
            <input type="radio" />
            <label><img src="http://placehold.it/50x50" /> Big Picture</label>
          </div>
          <div class="span2 thumb">
            <input type="radio" />
            <label><img src="http://placehold.it/50x50" /> Mid-Century Modern</label>
          </div>
          <div class="span2 thumb">
            <input type="radio" />
            <label><img src="http://placehold.it/50x50" /> Classic</label>
          </div>
        </div> -->

      <% else %>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </p>
      <% end %>

      <h3>Widgets</h3>
      <p class="instructions"><em>Drag widgets from the list on the right into a page section on the left</em></p>
    </div>

    <div class='span6'>
      <% @page.sections.each do |section| %>
        <h4><%= section.capitalize %></h4>
        <ul id="add-widgets" class='well sortable' data-section='<%= section %>'>
          <% @page.widgets.in_section(section).each do |widget| %>
            <%= render "/widgets/form_fields", f: f, widget: widget %>
          <% end %>
        </ul>
      <% end %>
      <p><%= f.submit "Submit", class: 'btn btn-primary btn-large' %></p>
    </div>
  <% end %>

  <div class='span6'>
    <%= form_for [@location, @page] do |f| %>
      <ul id='choose-widgets' class='well sortable'>
        <% @page.remote_widgets.each_with_index do |widget, index| %>
          <%= render "/widgets/form_fields", f: f, widget: widget %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
