<div class='row'>
  <%= form_for [@location, @page] do |f| %>
    <div class='span12'>
      <%= f.error_messages %>
      <% if @page.is_a? SiteTemplate %>
        <p>
          <%= f.fields_for :layout, @page.layout || PageLayout.new do |ff| -%>
            <%= f.label :url, "Layout" %>
            <%= ff.collection_select :url, PageLayout.all_remote, :url, :name, include_blank: "Select Layout" %>
          <% end -%>
        </p>

        <p>
          <%= f.fields_for :theme, @page.theme || Theme.new do |ff| -%>
            <%= f.label :url, "Theme" %>
            <%= ff.collection_select :url, Theme.all_remote, :url, :name, include_blank: "Select Theme" %>
          <% end -%>
        </p>
      <% else %>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </p>
      <% end %>
    </div>
    <div class='span6'>
      <h3>Selected Widgets</h3>
      <% @page.sections.each do |section| %>
        <h4><%= section.capitalize %></h4>
        <ul id="add-widgets" class='well sortable' data-section='<%= section %>'>
          <% @page.widgets.in_section(section).each do |widget| %>
            <%= render "/widgets/form_fields", f: f, widget: widget %>
          <% end %>
        </ul>
      <% end %>
      <p><%= f.submit "Submit", class: 'btn' %></p>
    </div>
  <% end %>
  
  
  <div class='span6'>
    <h3>Available Widgets</h3>
    <%= form_for [@location, @page] do |f| %>
      <ul id='choose-widgets' class='well sortable'>
        <% @page.remote_widgets.each_with_index do |widget, index| %>
          <%= render "/widgets/form_fields", f: f, widget: widget %>
        <% end %>
      </ul>
    <% end %>
    <small>Drag & Drop</small>
  </div>
  
</div>
