<div class="row">
  <%= form_for [@location, @page] do |f| %>
    <%= f.error_messages %>
    <div class="span12">
      <% if @page.is_a? SiteTemplate %>
        <h3>Layout</h3>
        <div class="thumbs clearfix">
          <%= f.fields_for :layout, @page.layout || PageLayout.new do |ff| -%>
            <%= ff.error_messages %>
            <% PageLayout.all_remote.each do |layout| %>
              <div class="thumb">
                <%= ff.radio_button :url, layout.url %>
                <%= ff.label :url, image_tag("http://placehold.it/75x75"), :value => layout.url  %>
              </div>
            <% end %>
          <% end %>
        </div>

        <h3>Theme</h3>
        <div class="thumbs clearfix">
          <%= f.fields_for :theme, @page.theme || Theme.new do |ff| -%>
            <%= ff.error_messages %>
            <% Theme.all_remote.each do |theme| %>
              <div class="thumb">
                <%= ff.radio_button :url, theme.url %>
                <%= ff.label :url, image_tag("http://placehold.it/75x75"), :value => theme.url %>
              </div>
            <% end %>
          <% end %>
        </div>

      <% else %>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </p>
      <% end %>

      <h3>Widgets</h3>
      <p class="instructions"><em>Drag widgets from the list on the left into a page section on the right</em></p>
    </div>

    <div class='dropzone span8'>
      <% @page.sections.each do |section| %>
        <h4><%= section.capitalize %></h4>
        <ul id="add-widgets" class='well sortable clearfix' data-section='<%= section %>'>
          <% @page.widgets.in_section(section).each do |widget| %>
            <%= render "/widgets/form_fields", f: f, widget: widget %>
          <% end %>
        </ul>
      <% end %>
      <p><%= f.submit "Submit", class: 'btn btn-primary btn-large' %></p>
    </div>
  <% end %>

  <div class='widget-list span4'>
    <%= form_for [@location, @page] do |f| %>
      <ul id='choose-widgets' class='well sortable clearfix'>
        <% @page.remote_widgets.each_with_index do |widget, index| %>
          <%= render "/widgets/form_fields", f: f, widget: widget %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
