<div class="row">
  <%= form_for [@location, @page] do |f| %>
    <%= f.error_messages %>
    <div class="span12">
      <% if @page.is_a? SiteTemplate %>
        <div class="layout-picker thumbnail-field">
          <h3>Layout</h3>
          <div class="thumbs clearfix">
            <%= f.fields_for :layout, @page.layout || PageLayout.new do |ff| -%>
              <%= ff.error_messages %>
              <% PageLayout.all_remote.each do |layout| %>
                <div class="thumb">
                  <%= ff.radio_button :url, layout.url %>
                  <%= ff.label :url, :value => layout.url do %>
                    <%= image_tag_or_placeholder(layout.thumbnail) %>
                    <%= layout.name %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="theme-picker thumbnail-field clearfix">
          <div class="thumbs clearfix">
            <h3>Theme</h3>
            <%= f.fields_for :theme, @page.theme || Theme.new do |ff| -%>
              <%= ff.error_messages %>
              <% Theme.all_remote.each do |theme| %>
                <div class="thumb">
                  <%= ff.radio_button :url, theme.url %>
                  <%= ff.label :url, :value => theme.url do %>
                    <%= image_tag_or_placeholder(theme.thumbnail) %>
                    <%= theme.name %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="colors clearfix">
            <h3>Colors</h3>
            <div class="color-field">
              <input type="color" value="#000000" id="color-1" />
              <label for="color-1">Primary</label>
            </div>
            <div class="color-field">
              <input type="color" value="#ffffff" id="color-2" />
              <label for="color-2">Secondary</label>
            </div>
          </div>
        </div>

      <% else %>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </p>
      <% end %>

      <h3>Widgets</h3>
      <p class="instructions">Drag widgets from the list on the left into a page section on the right</p>
    </div>

    <div class='dropzone span8'>
      <% @page.sections.each do |section| %>
        <h4><%= section.capitalize %></h4>
        <ul id="add-widgets" class='well sortable clearfix' data-section='<%= section %>'>
          <% @page.widgets.in_section(section).each do |widget| %>
            <%= render "/widgets/form_fields", f: f, widget: widget %>
          <% end %>
        </ul>
      <% end %>
      <p><%= f.submit "Submit", class: 'btn btn-primary btn-large' %></p>
    </div>
  <% end %>

  <div class='widget-list span4'>
    <%= form_for [@location, @page] do |f| %>
      <ul id='choose-widgets' class='sortable clearfix'>
        <% @page.remote_widgets.each_with_index do |widget, index| %>
          <%= render "/widgets/form_fields", f: f, widget: widget %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
