<html class='page-<%= page.slug %>'>
  <head>
    <%= stylesheet_link_tag *page.stylesheets %>
    <%= javascript_include_tag *page.javascripts %>
    <title><%= location.name %> || <%= page.name %></title>
  </head>
  <%= raw preview(location, page) %>
</html>
