<% title "Page :: #{@page.name}" %>
<p>
  <strong>Layout URL: </strong>
  <%= @page.layout.url %>
</p>

<p>
  <strong>Theme URL: </strong>
  <%= @page.theme.url %>
</p>

<p>
  <h3>Widgets: </h3>
  <ul>
    <% @page.widgets.each do |widget| %>
      <li><strong>Name:</strong> <%= widget.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to "Preview", preview_location_page_path(@location, @page) %>
  <%= link_to "View All", location_path(@location) %>
</p>
