<div class="card-container back">

  {{ partial "website/webPageTemplateHead" }}

  <div class="card-body">

    <form class="form">

      <div class="form-field">
        <label>Page Name</label>
        {{input value=name}}
      </div>

      <div class="form-field">
        <label>Page Title</label>
        {{input}}
      </div>

      <div class="form-field">
        <label class="switch-label">Page Status</label>
        {{ render "pageSwitcher" }}
      </div>

      <div class="buttons">
        {{#view App.CancelPage}}
          <button {{action cancel}} class="cancel-link card-flip">Cancel</button>
        {{/view}}
        <button {{action save}} class="btn btn--small">Save</button>
      </div>
    </form>

  </div>
</div>