<div class="card-container back">

  {{ partial "website/webPageTemplateHead" }}

  <div class="card-body">

    <form class="form">
      {{#view App.ValidateEmptyFormField}}
        <label>Page Name</label>
        {{input value=name}}
      {{/view}}

      {{#view App.ValidateEmptyFormField}}
        <label>Page Title</label>
        {{input value=title}}
      {{/view}}

      <div class="form-field">
        <label class="switch-label">Page Status</label>
        {{#view App.ToggleBtn}}
          <div class="switch switch-small" data-on="success" data-off="danger">
            {{input type="checkbox" checked=enabled}}
          </div>
        {{/view}}
      </div>

      <div class="buttons">
        {{#view App.CardAction}}
          <button {{action cancel model}} class="cancel-link card-flip">
            Cancel
          </button>
        {{/view}}
        {{#view App.CardAction}}
          <button {{action save model}} class="save btn btn--small" disabled>
            Save
          </button>
        {{/view}}
      </div>
    </form>

  </div>
</div>
