<div class="card-container front">

  {{ partial "website/webPageTemplateHead" }}

  <div class="card-body">
    <ul class="widgets">
      {{#each mainWidgets}}
        {{ partial "website/widget" }}
      {{/each}}
    </ul>
    <div class="buttons">
      {{#if isWebHomeTemplate}}
        {{#link-to "webHomeTemplate" model class="btn btn--small"}}Edit{{/link-to}}
      {{else}}
        {{#link-to "webPageTemplate" this class="btn btn--small"}}Edit{{/link-to}}
      {{/if}}
      <a {{bindAttr href="previewUrl"}} class="btn btn--small">Preview</a>
    </div>

    {{ partial "website/webPageTemplateFlip" }}
  </div>
</div>
