<div class="redirects">
  <div class="page-title">
    <h2>Asset Manager</h2>
  </div>

  <div class="l-xspace">
    {{s3-upload url="/api/v1/sign_upload" action='saveAsset' websiteName=website.name}}
  </div>

  <div class="faux-table faux-table--striped">
    <div class="faux-table-head">
      <span class="faux-table-cell">Image</span>
      <span class="faux-table-cell">Image Path</span>
      <span class="faux-table-cell">Actions</span>
    </div>

    <ul class="faux-table-body">
      {{#each controller}}
        <li class="asset faux-table-row">
          <div class="faux-table-cell"><a {{bindAttr href=url}} target='new'><img {{bindAttr src=url}} width='100'></a></div>
          <div class="faux-table-cell">{{click-select url=url }}</div>
          <div class="faux-table-cell">{{confirm-button title='delete' action='deleteAsset' param=this}}</div>
        </li>
      {{/each}}
    </ul>
  </div>

</div>
