<div class="layout-picker thumbnail-field">
  <div class="l-container">

    {{#view App.TogglePanelView contentBinding="this"}}
      <span class="toggle-panel-text btn--toggle-hide">Hide Layouts</span>
      <span class="toggle-panel-text hide btn--toggle-show">Show Layouts</span>
    {{/view}}

    <div id="layouts" class="toggle-content page-section">
      <div class="page-title"><h2>Select a Layout</h2></div>
      {{#if model.isUpdating}}
        <div class="loading">Loading...</div>
      {{else}}
        <div class="thumbs clearfix">
        {{#each model}}
          <div class="thumb">
            <a href="#" {{ action "update" this }}>
              {{#view App.GardenWebLayoutView contentBinding="this"}}
              <img alt="Thumbnail" {{ bindAttr src="thumbnail" }} {{ bindAttr class="view.isSelected" }}>
              {{ name }}
              {{/view}}
            </a>
          </div>
        {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
