<div class="theme-picker thumbnail-field clearfix">
  <div class="l-container">

    {{#view App.TogglePanelView contentBinding="this"}}
      <span class="toggle-panel-text btn--toggle-hide">Hide Themes</span>
      <span class="toggle-panel-text hide btn--toggle-show">Show Themes</span>
    {{/view}}

    <div class="toggle-content page-section">
      <div class="page-title"><h2>Select a Theme</h2></div>
      {{#if model.isUpdating}}
        <div class="loading">Loading...</div>
      {{else}}
        {{#view App.ThumbnailScrollerView}}
          <div class="jTscrollerContainer">
            <div class="jTscroller thumbs clearfix">
              {{#each model}}
                <div class="thumb">
                  <a href="#" {{ action "update" this }}>
                    {{#view App.GardenWebThemeView contentBinding="this"}}
                    <img alt="Thumbnail" {{ bindAttr src="thumbnail" }} {{ bindAttr class="view.isSelected" }}>
                    {{ name }}
                    {{/view}}
                  </a>
                </div>
              {{/each}}
            </div>
          </div>
          <a href="#" class="jTscrollerPrevButton"></a>
          <a href="#" class="jTscrollerNextButton"></a>
        {{/view}}
      {{/if}}
      {{ render "webTheme" }}
    </div>
  </div>
</div>
