<div class="layout-picker thumbnail-field">
  <div class="l-container">

    <a href="#" class="btn--toggle">Select Layout <span class="btn-arrow btn-arrow-up"></span> <span class="toggle-panel-text">Hide</span></a>

    <div id="layouts" class="toggle-content page-section">
      <h2 class="page-title">Select a Layout</h2>
      {{#if model.isUpdating}}
        <div class="loading">Loading...</div>
      {{else}}
        <div class="thumbs clearfix">
        {{#each model}}
          <div class="thumb">
            <a href="#" {{ action "update" this }}>
              {{#view App.RemoteWebLayoutView contentBinding="this"}}
              <img alt="Thumbnail" {{ bindAttr src="thumbnail" }} {{ bindAttr class="view.isSelected" }}>
              {{ name }}
              {{/view}}
            </a>
          </div>
        {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
