<div class="widget-list">
  <div class="l-container">
    {{#view App.TogglePanelView contentBinding="this"}}
      <span class="toggle-panel-text btn--toggle-hide">Hide Widgets</span>
      <span class="toggle-panel-text hide btn--toggle-show">Show Widgets</span>
    {{/view}}

    <div class="toggle-content page-section">
      <h2 class="page-title">Select Widgets</h2>
      {{#if model.isUpdating}}
        Loading...
      {{else}}

        <ul class="widgets--list-view">
          {{#each this}}
            {{#view App.DraggableWidgetView contentBinding="this"}}
              <img alt="Thumbnail" {{ bindAttr src="view.content.thumbnail" }} />
              {{ view.content.name }}
            {{/view}}
          {{/each}}
        </ul>

        {{#view App.ThumbnailScrollerView}}
        <div class="jThumbnailScroller" style="display: none">
          <div class="jTscrollerContainer">
            <ul id="choose-widgets" class="jTscroller clearfix">
            {{#each this}}
              {{#view App.DraggableWidgetView contentBinding="this"}}
                <img alt="Thumbnail" {{ bindAttr src="view.content.thumbnail" }} />
                {{ view.content.name }}
              {{/view}}
            {{/each}}
            </ul>
          </div>
          <a href="#" class="jTscrollerPrevButton"></a>
          <a href="#" class="jTscrollerNextButton"></a>
        </div>
        {{/view}}
      {{/if}}
    </div>
  </div>
</div>
