<div class="layout-picker thumbnail-field">
  <div class="l-container page-section">

    {{#view App.TogglePanelView contentBinding="this"}}
      <span class="btn-txt">Select Layouts</span>
      <span class="toggle-panel-text btn--toggle-hide">Hide</span>
      <span class="toggle-panel-text hide btn--toggle-show">Show</span>
    {{/view}}

    <div id="layouts" class="toggle-content">
      <h2 class="page-title">Select a Layout</h2>
      {{#if model.isUpdating}}
        <div class="loading">Loading...</div>
      {{else}}
        <div class="thumbs clearfix">
        {{#each model}}
          <div class="thumb">
            <a href="#" {{ action "update" this }}>
              {{#view App.RemoteWebLayoutView contentBinding="this"}}
              <img alt="Thumbnail" {{ bindAttr src="thumbnail" }} {{ bindAttr class="view.isSelected" }}>
              {{ name }}
              {{/view}}
            </a>
          </div>
        {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
