<div class="widget-list">
  <div class="container">
    <div class="left">
      <h2>Select Widgets</h2>
      <ul id="choose-widgets" class="clearfix">
        {{#each model}}
          {{#view G5ClientHub.RemoteWidgetView
            contentBinding="this"}}
            <li class="thumb">
              <img alt="Thumbnail" {{ bindAttr src="view.content.thumbnail" }} />
              {{ view.content.name }}
              {{#if view.content.id}}(selected){{/if}}
            </li>
          {{/view}}
        {{else}}
          <li>No Widgets Available</li>
        {{/each}}
      </ul>

      {{#view G5ClientHub.LogoWidgetsDropTargetView
        dragContextBinding="currentDragItem"}}
        Logo Widgets Drop Target
        {{ view.helpText }}
        {{#each widgetsInLogoWidgetsDropTarget}}
          {{#view G5ClientHub.RemoteWidgetView
            contentBinding="this"}}
            {{ view.content.name }}
          {{/view}}
        {{/each}}
      {{/view}}

    </div>
  </div>
</div>
