<div class="widget-list">
  <div class="container">
    <div class="left">
      <h2>Select Widgets</h2>
      <ul id="choose-widgets" class="clearfix">
        {{#each model}}
          {{#view G5ClientHub.RemoteWidgetView
            contentBinding="this"}}
            <li class="thumb">
              <img alt="Thumbnail" {{ bindAttr src="view.content.thumbnail" }} />
              {{ view.content.name }}
              {{#if view.content.id}}(selected){{/if}}
            </li>
          {{/view}}
        {{else}}
          <li>No Widgets Available</li>
        {{/each}}
      </ul>

      {{#view G5ClientHub.LogoWidgetsDropTargetView
        contentBinding="logoWidgets"
        dragContextBinding="currentDragItem"}}
        Logo Widgets
        {{ view.helpText }}
      {{/view}}
      {{#each logoWidgets}}
        {{#view G5ClientHub.RemoteWidgetView
          contentBinding="this"}}
          {{ view.content.name }}
        {{/view}}
      {{/each}}

      {{#view G5ClientHub.PhoneWidgetsDropTargetView
        contentBinding="phoneWidgets"
        dragContextBinding="currentDragItem"}}
        Phone Widgets
        {{ view.helpText }}
      {{/view}}
      {{#each phoneWidgets}}
        {{#view G5ClientHub.RemoteWidgetView
          contentBinding="this"}}
          {{ view.content.name }}
        {{/view}}
      {{/each}}

      {{#view G5ClientHub.BtnWidgetsDropTargetView
        contentBinding="btnWidgets"
        dragContextBinding="currentDragItem"}}
        Btn Widgets
        {{ view.helpText }}
      {{/view}}
      {{#each btnWidgets}}
        {{#view G5ClientHub.RemoteWidgetView
          contentBinding="this"}}
          {{ view.content.name }}
        {{/view}}
      {{/each}}

      {{#view G5ClientHub.NavWidgetsDropTargetView
        contentBinding="navWidgets"
        dragContextBinding="currentDragItem"}}
        Nav Widgets
        {{ view.helpText }}
      {{/view}}
      {{#each navWidgets}}
        {{#view G5ClientHub.RemoteWidgetView
          contentBinding="this"}}
          {{ view.content.name }}
        {{/view}}
      {{/each}}

      {{#view G5ClientHub.AsideWidgetsDropTargetView
        contentBinding="asideWidgets"
        dragContextBinding="currentDragItem"}}
        Aside Widgets
        {{ view.helpText }}
      {{/view}}
      {{#each asideWidgets}}
        {{#view G5ClientHub.RemoteWidgetView
          contentBinding="this"}}
          {{ view.content.name }}
        {{/view}}
      {{/each}}

      {{#view G5ClientHub.FooterWidgetsDropTargetView
        contentBinding="footerWidgets"
        dragContextBinding="currentDragItem"}}
        Footer Widgets
        {{ view.helpText }}
      {{/view}}
      {{#each footerWidgets}}
        {{#view G5ClientHub.RemoteWidgetView
          contentBinding="this"}}
          {{ view.content.name }}
        {{/view}}
      {{/each}}

    </div>
  </div>
</div>
