<div class="theme-picker thumbnail-field clearfix">
  <div class="container page-section">
    <div class="left">
      <h2>Select a Theme</h2>
      {{#if model.isUpdating}}
        Loading...
      {{else}}
        {{#view App.ThumbnailScrollerView}}
        <div class="jThumbnailScroller">
          <div class="jTscrollerContainer">
            <div class="jTscroller thumbs clearfix">
              {{#each model}}
                <div class="thumb">
                  <a href="#" {{ action "update" this }}>
                    {{#view App.RemoteWebThemeView contentBinding="this"}}
                    <img alt="Thumbnail" {{ bindAttr src="thumbnail" }} {{ bindAttr class="view.isSelected" }}>
                    {{ name }}
                    {{/view}}
                  </a>
                </div>
              {{/each}}
            </div>
          </div>
          <a href="#" class="jTscrollerPrevButton"></a>
          <a href="#" class="jTscrollerNextButton"></a>
        </div>
        {{/view}}
      {{/if}}
    </div>
    <!-- color picker -->
    {{ render "website" }}
  </div>
</div>
