<div>
  <div class="l-cell">
    <img alt="Thumbnail" class="thumb" {{ bindAttr src="webLayout.thumbnail" }} />
  </div>

  <div class="l-cell">
    <img alt="Thumbnail" class="thumb" {{ bindAttr src="webTheme.thumbnail" }} />
  </div>

  <div class="l-cell l-double-cell">
    <h3 class="template-heading">Widgets</h3>
    <ul class="widgets widgets--small">
      <!-- refactor this -->
      {{#each logoWidgets}}
        {{ partial "cardWidget" }}
      {{/each}}
      {{#each phoneWidgets}}
        {{ partial "cardWidget" }}
      {{/each}}
      {{#each btnWidgets}}
        {{ partial "cardWidget" }}
      {{/each}}
      {{#each navWidgets}}
        {{ partial "cardWidget" }}
      {{/each}}
      {{#each asideWidgets}}
        {{ partial "cardWidget" }}
      {{/each}}
      {{#each footerWidgets}}
        {{ partial "cardWidget" }}
      {{/each}}
    </ul>
  </div>
</div>
