<div class="builder">
  {{ render "gardenWebLayouts" }}
  {{ render "gardenWebThemes" }}
  {{ render "gardenWidgets" }}

  <div class="l-container page-section">
    {{ render "headerWidgets" }}
    {{ render "mainWidgets" }}
    {{ render "asideWidgets" }}
    {{ render "footerWidgets" }}
  </div>

  <div class="preview">
    {{view App.IframeView contentBinding="this"}}
  </div>
</div>
