<div class="builder">
  <div class="l-container">
    <div class="page-title  builder-title">
      {{#if controllers.client.single_domain}}
      <a href="#" {{action deploy_all}} class="btn l-pullRight">Deploy All</a>
      {{else}}
      <a href="#" {{action deploy this}} class="btn l-pullRight">Deploy</a>
      {{/if}}
    </div>
  </div>
  {{ render "gardenWebLayouts" }}
  {{ render "gardenWebThemes" }}
  {{ render "gardenWidgets" }}

  <div class="l-container page-section">
    {{ render "headerWidgets" }}
    {{ render "mainWidgets" }}
    {{ render "asideBeforeMainWidgets" }}
    {{ render "asideAfterMainWidgets" }}
    {{ render "footerWidgets" }}
  </div>

  <div class="preview">
    {{view App.IframeView contentBinding="this"}}
  </div>
</div>
