<div class="builder">
  <div class="l-container">
    <div class="page-title  builder-title">
      {{#if controllers.client.single_domain}}
        {{confirmation-link title="Deploy All" action="deploy_all" param=this 
          message="You are about to deploy. Are you sure?" classes="btn l-pullRight"}}
      {{else}}
        {{confirmation-link title="Deploy" action="deploy" param=this 
          message="You are about to deploy. Are you sure?" classes="btn l-pullRight"}}
      {{/if}}
    </div>
  </div>
  {{ render "gardenWebLayouts" }}
  {{ render "gardenWebThemes" }}
  {{ render "gardenWidgets" }}

  <div class="l-container page-section">
    {{ render "headerWidgets" }}
    {{ render "mainWidgets" }}
    {{ render "asideBeforeMainWidgets" }}
    {{ render "asideAfterMainWidgets" }}
    {{ render "footerWidgets" }}
  </div>

  <div class="preview">
    {{view App.IframeView contentBinding="this"}}
  </div>
</div>
