{{ render "remoteWebLayouts" }}
{{ render "remoteWebThemes" }}
{{ render "remoteWidgets" }}

<div class="container page-section">
  {{ render "headerWidgets" }}
  {{ render "asideWidgets" }}
  {{ render "footerWidgets" }}
</div>

<div class="container page-section">
  {{ render "mainWidgets" }}
</div>

<div class="preview">
  {{view G5ClientHub.IframeView contentBinding="this"}}
</div>
