<div class="l-container">
  <h2 class="page-title">
    Location:
    {{ name }}
    &mdash; Pages
    <span class="buttons">
      <a href="#" class="btn">Deploy</a>
    </span>
  </h2>

  <div class="site-settings page-section l-grid">
    {{ render "website/websiteTemplate" websiteTemplate }}
  </div>

  <div class="site-pages page-section">
    <div class="page-title">
      {{#view App.NewPage}}
        {{#linkTo "webPageTemplates.new" class="btn" }}Create New Page{{/linkTo}}
      {{/view}}
    </div>
    <div class="cards">
      {{ render "website/webPageTemplate" webHomeTemplate }}
      {{#each webPageTemplates}}
        {{#unless isNew}}
          {{ render "website/webPageTemplate" this }}
        {{/unless}}
      {{/each}}

      {{ outlet "newWebPageTemplate" }}
    </div>
  </div>

  <div class="delete-page">
    <div class="icon icon--trash"></div>
  </div>
</div>
