<div class="l-container">
  <h2 class="page-title">
    <a href="#" {{action deploy this}} class="btn">Deploy</a>
  </h2>

  <div class="site-settings page-section l-grid">
    {{ render "website/websiteTemplate" websiteTemplate }}
  </div>

  <div class="site-pages page-section">
    <div class="page-title">
      {{#view App.NewPage}}
        {{#link-to "webPageTemplates.new" class="new-page-btn btn" }}Create New Page{{/link-to}}
      {{/view}}
    </div>
    <div class="cards">
      {{ render "website/webPageTemplate" webHomeTemplate }}
      {{#each webPageTemplates}}
        {{#unless isNew}}
          {{ render "website/webPageTemplate" this }}
        {{/unless}}
      {{/each}}

      {{ outlet "newWebPageTemplate" }}
    </div>
  </div>

  <div class="delete-page">
    <div class="icon icon--trash"></div>
  </div>
</div>
