{{ render "remoteWebLayouts" }}
{{ render "remoteWebThemes" }}
{{ render "remoteWidgets" }}

<div class="container">
  {{ render "headerWidgets" }}
  {{ render "asideWidgets" }}
  {{ render "footerWidgets" }}
</div>

{{ partial "websiteTemplate/preview" }}
