<% title "Location: #{@location.name}" %>
<div class="page-title">
  <h3>Pages</h3>
  <%= link_to "New Page", new_location_page_path(@location), class: 'btn btn-large btn-success' %>
</div>
<table class='pages table table-striped'>
  <thead>
    <tr>
      <th>Page</th>
      <th>Layout</th>
      <th>Theme</th>
      <th>Widgets</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class='site-template'>
      <td><%= @location.site_template.name %></td>
      <td><%= image_tag_or_placeholder(@location.site_template.layout.thumbnail, class: 'thumb') %></td>
      <td><%= image_tag_or_placeholder(@location.site_template.theme.thumbnail, class: 'thumb') %></td>
      <td>
        <ul class="widgets">
          <% @location.site_template.widgets.each do |widget| %>
            <li>
              <%= image_tag_or_placeholder(widget.thumbnail) %>
              <%= widget.name %>
            </li>
          <% end %>
        </ul>
      </td>
      <td>
        <%= link_to "Edit", edit_location_site_template_path(@location, @location.site_template), class: "btn btn-large" %>
        <%= link_to "Deploy", deploy_location_path(@location), method: :post, class: "btn btn-large" %>
      </td>
    </tr>

    <% @location.pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td></td>
        <td></td>
        <td>
          <ul class="widgets">
            <% page.widgets.each do |widget| %>
              <li>
                <%= image_tag widget.thumbnail %>
                <%= widget.name %>
              </li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= link_to "Edit", edit_location_page_path(@location, page), class: "btn btn-large" %>
          <%= link_to "Preview", preview_location_page_path(@location, page), class: "btn btn-large btn-success" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
</p>
