<% content_for :head do
     javascript_tag("$(function(){ new window.toggleSwitch($('.page-actions .switch')); });")
   end %>

<div class="page-title">
  <h2><%= "Location: #{@location.name}" %> <%= link_to "Create New Page", new_location_web_page_template_path(@location), class: 'btn btn-large primary new-page' %></h2>

</div>
<table class='pages table table-striped'>
  <thead>
    <tr>
      <th>Page</th>
      <th>Layout</th>
      <th>Theme</th>
      <th>Widgets</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class='site-template'>
      <td><%= @location.website_template.name %></td>
      <td><%= image_tag_or_placeholder(@location.website_template.web_layout.try(:thumbnail), class: 'thumb') %></td>
      <td><%= image_tag_or_placeholder(@location.website_template.theme.try(:thumbnail), class: 'thumb') %></td>
      <td>
        <ul class="widgets">
          <%= render @location.website_template.widgets %>
        </ul>
      </td>
      <td>
        <%= link_to "Edit", edit_location_website_template_path(@location, @location.website_template), class: "btn" %>
        <%= link_to "Deploy", deploy_location_path(@location), method: :post, class: "btn" %>
      </td>
    </tr>

    <% @location.web_page_templates.order("created_at ASC").each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td></td>
        <td></td>
        <td>
          <ul class="widgets">
						<%= render page.widgets %>
          </ul>
        </td>
        <td class="page-actions">
          <%= link_to "Edit", edit_location_page_path(@location, page), class: "btn btn-large" %>
          <%= link_to "Preview", preview_location_page_path(@location, page), class: "btn btn-large primary" %>
          <%= page_disable_toggle(@location, page) %>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Edit Widget</h3>
	</div>
	<div class="modal-body">
	</div>
</div>
