<% title "Location: #{@location.name}" %>
<% header_right link_to "New Page", new_location_page_path(@location), class: 'btn btn-success' %>

<h3>Pages</h3>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Page</th>
      <th>Layout</th>
      <th>Theme</th>
      <th>Widgets</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class='site-template'>
      <td><%= @location.site_template.name %></td>
      <td><img src="http://placehold.it/100x70"></td>
      <td><img src="http://placehold.it/100x70"></td>
      <td>
        <ul>
          <% @location.site_template.widgets.each do |widget| %>
            <li><%= widget.name %></li>
          <% end %>
        </ul>
      </td>
      <td>
        <%= link_to "Edit", edit_location_site_template_path(@location, @location.site_template), class: "btn" %>
      </td>
    </tr>
    
    <% @location.pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td></td>
        <td></td>
        <td>
          <ul>
            <% page.widgets.each do |widget| %>
              <li><%= widget.name %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= link_to "Edit", edit_location_page_path(@location, page), class: "btn" %>
          <%= link_to "Preview", preview_location_page_path(@location, page), class: "btn btn-success" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
</p>
