<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <title>G5 Client Hub: <%= @client_name %> - <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>

    <header role="banner">
      <div class="container">

        <div class="navbar">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <h1 class="branding"><a href="<%= root_path %>"><span class="logo">G5</span> Client Hub: <strong><%= @client_name %></strong></a></h1>

          <div class="nav-collapse">
            <nav role="navigation" class="nav pull-right">
              <ul>
                <%= content_tag :li, link_to("Locations", locations_path) %>
                <%= content_tag :li, link_to("Leads", ENV["LEADS_SERVICE_HEROKU_URL"]) %>
                <%= content_tag :li, link_to("Siblings", siblings_path) %>
                <%= content_tag :li, link_to("Widget Entries", widget_entries_path) %>
                <%= content_tag :li, link_to("Resque", "/resque", target: "_blank") %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <% flash.each do |name, msg| %>
      <div class="container"><%= flash_div name %></div>
    <% end %>

    <section role="main">

      <div class="container">

        <%= yield %>

      </div>

    </section>

  </body>
</html>
