<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "compiled_pages" %>
    <%= javascript_include_tag "compiled_pages" %>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= yield(:head) %>
  </head>
  <body class="<%= yield(:body_classes) %>">
    <%= yield %>
  </body>
</html>
