<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <title>G5 Client Hub: <%= @client_name %> - <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "builder" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "ember_app" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body class="builder">

    <header role="banner">
      <div class="container">
        <h1 class="branding"><a href="<%= root_path %>"><span class="logo">G5</span> Client Hub: <strong><%= @client_name %></strong></a></h1>

        <nav role="navigation" class="pull-right">
          <ul>
            <%= content_tag :li, link_to("Locations", locations_path) %>
            <%= content_tag :li, link_to("Leads", ENV["LEADS_SERVICE_HEROKU_URL"]) %>
            <%= content_tag :li, link_to("Siblings", siblings_path) %>
            <%= content_tag :li, link_to("Resque", "/resque", target: "_blank") %>
          </ul>
        </nav>
      </div>
    </header>

    <% flash.each do |name, msg| %>
      <div class="container"><%= flash_div name %></div>
    <% end %>

    <section role="main">

      <%= yield %>

    </section>

  </body>
</html>
