<!DOCTYPE html>
<html lang="en" >
  <head id="drop-target-head">

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <meta charset="utf8" />
    <%= yield(:head_widgets) %>

    <!-- for devices that don't support viewport -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= javascript_include_tag "https://s3.amazonaws.com/themes.g5dxm.com/shared/javascripts/modernizr.custom.js" %>

    <%= yield(:head) %>
  </head>

  <body class="<%= [mode, yield(:body_classes)].join(" ") %>">

    <%= yield %>

    <%= javascript_include_tag "https://s3.amazonaws.com/themes.g5dxm.com/shared/javascripts/jquery-1.8.1.min.js" %>
    <%= javascript_include_tag leads_service_js %>
    <%= javascript_include_tag "https://s3.amazonaws.com/themes.g5dxm.com/shared/javascripts/bootstrap-collapse.js" %>
    <%= javascript_include_tag "https://s3.amazonaws.com/themes.g5dxm.com/shared/javascripts/helper.js" %>
    <%= javascript_include_tag "https://s3.amazonaws.com/themes.g5dxm.com/shared/javascripts/script.js" %>
    <%= javascript_include_tag "https://s3.amazonaws.com/themes.g5dxm.com/shared/javascripts/json2.js" %>

    <!--[if (lt IE 9) & (!IEMobile)]>
      <%= javascript_include_tag "https://s3.amazonaws.com/themes.g5dxm.com/shared/javascripts/selectivizr-min.js" %>
      <%= javascript_include_tag "https://s3.amazonaws.com/themes.g5dxm.com/shared/javascripts/respond.min.js" %>
    <![endif]-->

    <%= javascript_include_tag "web_template" if mode == "preview" %>
    <%= yield(:bottom_of_body) %>
  </body>
</html>
